<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="UIAutomation_RegressionTesting">
	<test name="UIAutomation">
		<parameter name="browser" value="chrome" />
		<classes>

			<class name="com.uiautomation.test.loginPageTest" />
			

		</classes>
	</test>
</suite>